/* Your existing CSS styles can continue here */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #ffffff;

    scrollbar-width: thin;
}

body::-webkit-scrollbar {
  display: none;
}

#photoshop-tab {
  color: #2D92B3;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #000000; /* Dark header background color */
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  z-index: 999;
}

#head-name {
  flex: content;
  height: 64px;
  margin-top: 10px;
  margin-right: 10%;
}

#head-name a {
  padding: 0%;
  font-size: 32px;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: normal;
}

#head-name p {
  margin-top: -10px;
  font-family: 'Quicksand', sans-serif;
  font-size: small;
  font-weight: 100;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

/* Navigation list styles */
.nav-list {
  list-style-type: none;
  margin: 0;
  display: flex;
}

.nav-list li {
  margin-right: 20px;
}

/* Navigation link styles */
.nav-list li a {
  text-decoration: none;
  font-weight: 400;

  align-self: center;
  padding-left: 20px;
  padding-right: 20px;

  color: #F2F2F2 ; /* Link text color */
  transition: color 0.5s ease-in-out;
}

/* Hover effect for navigation links */
.nav-list li a:hover {
  color: #2D92B3 ; /* Link text color on hover */
}

.contact-button button {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: #1A1A1A;
  background-color: #6EB5D8;
  border: none;

  height: 35px;
  width: 85px;
  border-radius: 35px;
  margin-right: 40px;
  cursor: pointer;

  transition: all 0.25s ease-in-out;
}

.contact-button button:hover {
  height: 30px;
  width: 90px;
  margin-left: -2.5px;
  margin-right: 37.5px;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .photoshopped-gallery {
    text-align: center;
    margin-top: 50px;
  }

  .photoshopped-gallery h1 {
    margin-top: 65px;
  }
  
  .photoshopped-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
  }
  
  .photoshopped {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .photoshopped img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
  }
  
  .photoshopped p {
    margin: 10px 0;
    font-size: 14px;
    color: #777777;
  }

  .photoshopped:hover {
    transform: scale(1.075);
  }
  
  .photoshopped:hover img {
    transform: scale(1.05);
  }



.fullscreen-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Darkened background */
    z-index: 9999;
    overflow: auto; /* Allow scrolling within the overlay */
    text-align: center;
    align-content: center;
  }
  
  #fullscreen-image {
    max-width: 90%;
    max-height: 90%;
    margin-top: 35px;
    margin-bottom: 35px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7); /* Optional: Box shadow for image */
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    z-index: 99999;
  }
  
  