
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1A1A1A; /* Dark background color */
  color: #D9D9D9; /* Text color */

  scrollbar-width: thin;
  overflow-x: hidden
}

body::-webkit-scrollbar {
  display: none;
}


#background-art {
  scroll-behavior:smooth;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: auto;
  transform: translateY(-600px);
}

#about-tab {
  color: #2D92B3;
}

/* Header styles */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #000000; /* Dark header background color */
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  z-index: 999;
}

#head-name {
  flex: content;
  height: 64px;
  margin-top: 10px;
  margin-left: 0;
}

#head-name a {
  padding: 0%;
  font-size: 32px;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: normal;
}

#head-name p {
  margin-top: -10px;
  font-family: 'Quicksand', sans-serif;
  font-size: small;
  font-weight: 100;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

/* Navigation list styles */
.nav-list {
  list-style-type: none;
  margin: 0;
  display: flex;
}

.nav-list li {
  margin-right: 20px;
}

/* Navigation link styles */
.nav-list li a {
  text-decoration: none;
  font-weight: 400;

  align-self: center;
  padding-left: 20px;
  padding-right: 20px;

  color: #F2F2F2 ; /* Link text color */
  transition: color 0.5s ease-in-out;
}

/* Hover effect for navigation links */
.nav-list li a:hover {
  color: #2D92B3 ; /* Link text color on hover */
}

.contact-button button {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: #1A1A1A;
  background-color: #6EB5D8;
  border: none;

  height: 35px;
  width: 85px;
  border-radius: 35px;
  margin-right: 40px;
  cursor: pointer;

  transition: all 0.25s ease-in-out;
}

.contact-button button:hover {
  height: 30px;
  width: 90px;
  margin-left: -2.5px;
  margin-right: 37.5px;
}

.highlight {
  color: #6EB5D8;
}

/* Styling for the about section */
.about-section {
  margin-top: 100;
  padding: 20px 20px;
  text-align: center;
  display: flex;
}

.about-section h1 {
  position: relative;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 248px;
  margin-top: 30vh;
  margin-bottom: 40vh;

  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.75));
}

#about-description {
  margin-left: -20px;
  margin-right: -20px;
  display: flex;
}

.profile-image {
  width: 100%;
}

/* Profile picture styles */
.profile-image img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}


.bio {
  background-color: #262626;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  font-weight: 100;

  justify-self: center;
  width: 100%;

  font-size: 17px;
  text-align: center;
}

#Typescript {
  position: absolute;
  width: 120px;
  height: 120px;
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.75));

  transform: translate(120px, 53.5px) rotate(3deg);
}

#Python {
  position: absolute;
  width: 250px;
  height: 250px;
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.75));

  transform: translate(-45px, 150px) rotate(-10deg);
}

#Adobe-Illustrator {
  position: absolute;
  width: 160px;
  height: 160px;
  filter: drop-shadow(5px 5px 7px rgba(0, 0, 0, 0.5));

  transform: translate(50px, 370.5px) rotate(9deg);
}

#Photoshop {
  position: absolute;
  width: 140px;
  height: 140px;
  filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.5));

  transform: translate(100px, 370.5px) rotate(-8deg);
}

#Premier {
  position: absolute;
  width: 170px;
  height: 170px;
  filter: drop-shadow(5px 5px 7px rgba(0, 0, 0, 0.5));

  transform: translate(30px, 590.5px) rotate(12deg);
}

#After-Effects {
  position: absolute;
  width: 120px;
  height: 120px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));

  transform: translate(120px, 820px) rotate(-3deg);
}

.bio p {
  padding-left: 275px;
  padding-right: 55px;
  padding-top: 30px;
  text-align: left;
}

.skills {
  display: flex;
  margin-top: 10px;
  background-color: #262626;
  margin-left: -1.5vw;
  margin-right: -1.5vw;
}

.skill-bio {
  background-color: #262626;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  font-weight: 100;

  justify-self: center;
  width: 100%;

  font-size: 21px;
  text-align: center;
}

#skills-head {
  text-align: center;
  justify-self: center;
}

.skills #skill-content img {
  width: 50vw;
}

.skill-block {
  display: flexbox;
  width: 50vw;
}

.skills h2 {
  display: flex;
  margin-top: 30px;
  font-family: 'Quicksand', sans-serif;
  margin-left: 40px;
}

.skills h3 {
  display: flex;
  margin-left: 40px;
  margin-top: 50px;
}

.skill-details {
  display: flex;
  margin-left: 45px;
}

.skills ul {
  display: flexbox;
  width: 50vw;
  padding: 0;
  margin-top: 5px;
  text-align: left;
}

.skills ul li {
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 8px;
}

.profile-image{
  background-color:  #262626;
  border-radius: 10px;
  margin-bottom: 10px;
  margin: 0;
}
