@font-face {
    font-family: 'Limelight';
    src: url('../fonts/Limelight-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'GTWalsheim';
    src: url('../fonts/GT-Walsheim-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'SpaceGrotesk';
    src: url('../fonts/SpaceGrotesk.ttf') format('truetype');
}

body {
    background-color: #f0f0f0;

}