.main {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;

}

.main h1 {
    font-family: 'Limelight', sans-serif;
    font-size: 3rem;
    color: #333;

    align-self: left;
}

.main p {
    font-family: 'GTWalsheim', sans-serif;
    font-size: 1.2rem;
    color: #666;

    width: 15%;
    text-align: center;
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}


.links {
    font-family: 'SpaceGrotesk', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.75rem;

    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 1.2rem;
}

.links a:visited {
    color: black;
}


.ital {
    font-style: italic;
}

.links a {
    position: relative;
    text-decoration: none;
}

.links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #333;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.links a:hover::after {
    transform: scaleX(1);
}