body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    padding: 0 20px;
    border-bottom: 1px solid #d0d0d0;
    background-color: #f0f0f0;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0;
    padding: 0 20px;
    list-style-type: none;
}

.nav-list li {
    margin: 0 10px;
}

.nav-list a {
    font-family: 'BarlowCondesned', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
}

.nav-list a:visited {
    color: black;
}

.nav-list a:hover {
    color: #555;
}

.head-name {
    font-family: 'GTWalsheim', sans-serif !important;
    font-size: 1.75rem !important;
    color: white !important;
    background-color: #222244;
    padding: 5px 10px;
    border-radius: 3px;
}


.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-container h2,
.content-container div {
    display: flex;
    flex-direction: row;
}

.content-area {
    display: flexbox;
    flex-wrap: wrap;
}

.media {
    width: 1200px;
}

.content-area button {
    cursor: pointer;
    margin: 0;
    pad: 0;
    width: min-content;
    height: min-content;
    border: 0 none transparent;
    border-radius: 8px;
}

.media img {
    border-radius: 8px;
    padding: 4px;
    height: 350px;
}

.engineering canvas {
    border-radius: 8px;
    margin: 4px;
    background-color: #ddd;

    width: 350px;
    height: 350px;
}